body {
  font-family: 'Courier New', monospace; 
}

.tooltip {
  display: inline;
  position: fixed
}

.tooltip-2 {
  display: inline;
  position: fixed
}

.responsive-svg-container {
  margin-right: auto;
  margin-left: auto;
  width: 100%;
  /* max-width: 1000px; */
}

.footer {
  text-align:center; 
  margin-right: auto;
  margin-left: auto;
  font-size: 15px;
  width: 100%;
  max-width: 1000px;
}

/* Styling for the transparent overlay */
.overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5); /* 0.5 transparent black background */
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

/* Close button styling */
.close-btn {
  position:absolute;
  top: 1%;
  right: 2%;
  cursor: pointer;
}


.myDiv svg {
  width: 100%;
  height: 100%;
}


/*Awareness graph*/
.myLegend svg{
  width: 100%;
  height: 100%;
}

.custom-select {
  display: block;
  width: 100px;
  padding: 10px;
  font-size: 16px;
  line-height: 1.3;
  color: #555;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 5px;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  cursor: pointer;
}

.custom-select option {
  font-size: 16px;
  background-color: #fff;
  color: #555;
}

.button_click {
	color: black;
	height: 3em;
	width: 20%;
	padding: 0.5em auto;
	margin: 1em auto;
  font-size: medium;
	border: none;
	border-radius: 3px;
	text-transform: uppercase;
	letter-spacing: 0.2em;
	transition: all 0.2s cubic-bezier(0.4, 0, 0.2, 1);
}

.button_click:hover {
	letter-spacing: 0.3em;
  opacity: 0.75;
}